body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
   
}


.header{
    background-color: #1F2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
    
}

.logo{
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.header-links{
font-size: 18px;
color: #f9faf8;

}

a {
    text-decoration: none;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero-main-text{
    background-color: #1F2937;
    margin: 0;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 32px;


}

.content1{
    
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    padding: 16px;
  width: 300px;
  flex-wrap: wrap;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #f9faf8;
    text-align:start
}

button.signup {
    background: royalblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 8px;
    align-self:flex-start;
    font-size: large;
}

.information-section{
    text-align: center;
   
}

h2 { text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 100px;
    font-size: xx-large;
}

img.info {
    width: 50px;
    height: 50px;
}



.info-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 200px;
    padding-right: 200px;
    align-self:center ;
    padding-bottom: 200px;
    
  }
  
  .info-item {
    flex: 1;
    text-align: center;

}

.info-item img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid rgb(17, 211, 236);

}

.quote{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    font-family:fantasy;
}

p.main {
    font-size: 60px;
}

p.author {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

.call-action{ 
    background-color: royalblue;
    margin: 200px 100px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

}

button.sign2{
    background: royalblue;
    border: 1px solid hsl(0, 0%, 87%);
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 8px;
    display: flex;
    font-size: large;
    justify-content: end;
    align-items: center;
   
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}










